# Tell GitHub all .sql files are SQL language
*.sql linguist-language=SQL

# Ignore all files in any folder named docs (case insensitive)
docs/** linguist-vendored=true
Docs/** linguist-vendored=true
DOCS/** linguist-vendored=true

# Ignore all README files anywhere (README.md, README.txt, README, etc.)
**/README* linguist-vendored=true

# Ignore all txt files anywhere
*.txt linguist-vendored=true
